.container{
  margin: 2px;
}

.topnav {
  overflow: hidden;
  text-align: center;
  width: 100%;
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  justify-content: space-between;
  width: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.light-theme {
  background-color: #cfcfcf;
  color: #000;
}

.dark-theme {
  background-color: #3a3b3c;
  color: #fff; 
}

.footer{
  text-align: center;
  bottom: 0;
  width: 100%;
  display: fixed;
}

.main{
  height: 82.5vh;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  justify-content: space-around;
}

.light-button{
  background-color: #cfcfcf;
  color: #000;
  border-color: #000;
  width: 350px;
  border-radius: 12px;
  border-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.dark-button{
  background-color: #3a3b3c;
  color: #fff; 
  width: 350px;
  border-radius: 12px;
  border-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* .main > div{
  background-color: red;
} */